*{
    margin: 0;
    padding: 0;
}


.navbar{
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 0px 4px 1px;
    
}

.navbar .logo img{
    display: inline-block;
    height: 80px;
    width: 80px;
}

 .Login input{
   padding: 10px;
   font-size: 13px;
   font-weight: 800;
}

.Login input[type="submit"]
{
    background-color: rgb(83, 134, 7);
    color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px rgb(75, 75, 75);

}

.container{
    
    display: flex;
    align-items: center;   
    justify-content: space-between;
}

.container img{
    margin-left: 30px;
    display: flex;
    align-items: start;
}

.dropbtn {
    margin-right: 50px;
    background-color: #0a0a0a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d1cbcb;
    right: 0;
    width: 500px;
    float: right;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #4e6aeb}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
 .content{ 
   background-image: url(images/7057cbcecaa171b.jpg);
   height: 200px;
   width: 100%;
   align-items: center;
 } 

 .content  button{ 
    align-items: center;
    margin-top: 20px;
    margin-left: 220px;
    padding: 10px;
    font-size: 20px;
    background-color: #1f1cdd;
    color: rgb(255, 252, 248);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px  rgb(3, 3, 8);
   
 }

 .content .Click{
    justify-content: space-around;
 }

 .content button:hover{
    transition: 0.5s;
    background-color: #d0ec2f;
 }

 #Text{
    margin: 30px;
    display: flex;
 }

 #Text .part3 img{
    height: 100px;
    width: 180px;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
 }
 #dropText{
    display: flex;
    margin-top: 15px;
 }

 .container2 button{
    margin: 5px;
    border: 1px solid black;
 }


.accordion {
    background-color: #04a00b;
    color: #eeeeee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #444744; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

.news{
    height: 400px;
    width: 280px;
    margin-left: 200px;
    margin-right: 100px;
    padding: 20px;
    background-color: #cdee72;
    border: 2px solid black;
}

#footer{
    color: #000000;
    display: flex;
    margin-top: 20px;
    background-color: #2cd134;
    border-top: #0a0a0a;
    box-shadow: 5px 2px 10px 10px rgb(53, 168, 29);
}


.Aboutus{
  align-items: center;
}
.footerList1 a{
    color: #0a0a0a;
   text-decoration: none;
    display: list-item;
    margin-left: 120px;
}
.footerList2 a{ 
    text-decoration: none;
    color: #0a0a0a;
    margin-top: 20px;
    display: list-item;
    margin-left: 120px;
}

